@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&family=Roboto:ital,wght@1,900&display=swap");

* {
  margin: 0%;
  padding: 0%;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.59), rgba(0, 0, 0, 0.3)),
    url(imagem/fundo.jpeg) no-repeat;
  font-family: sans-serif;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-size: cover;
  background-attachment: fixed;
}

li {
  list-style-type: none;
}

/* imagem da home */

#container-rigth {
  height: 100vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;

  background: linear-gradient(rgba(0, 0, 0, 0.59), rgba(0, 0, 0, 0.3)),
    url(imagem/fundo.jpeg) no-repeat;
  overflow-x: hidden;
  background-size: cover;
  background-attachment: fixed;
}

#container-rigth::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0%;

  height: 100%;
  width: 100%;
}

.img-container .imgP {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: #46052b solid 5px;
  top: 25%;
  left: 60%;
  background-position: top centro;
}

/* links */

.links {
  position: sticky;
  text-align: center;
  top: 65%;
  padding-top: 20px;
}
.links img {
  height: 30px;
  width: 20px;
  align-items: center;
  padding-left: 8px;
}

.lorem {
  font-size: 50px;
}

/* MENU */

a {
  text-decoration: none;
  color: white;
}

ul.horizontal-list {
  display: flex;
  list-style-type: none;
}

ul.horizontal-list li {
  display: inline;
  margin-left: 20px;
  font-size: 18px;
}

/* container principal */

#container {
  background-color: black;
  display: flex;

  width: 100%;
}

.container-content {
  height: 100%;
  width: 50%;
  justify-content: center;
}

/* TITULO PRINCIPAL */
.textoHome {
  margin-top: 11rem;
  padding-left: 25%;
  padding-top: 150px;
  padding-bottom: 50px;
}

.container-content div h1 {
  padding: 0px 4px;
  color: transparent;
  position: relative;
  width: fit-content;
  font-size: 4rem;
  line-height: 6rem;
  animation: written_text 0.5s ease forwards;
}
.textoHome > h1:nth-child(1) {
  animation-delay: 1s;
}

.textoHome > h1:nth-child(2) {
  animation-delay: 2s;
  animation: written_tex_name t 0.5s ease;
}

.textoHome > h1:nth-child(3) {
  animation: written_text_name 0.5s ease forwards;
  animation-delay: 3s;
}

.container-content div h1 span {
  position: absolute;

  top: 0;
  left: 0;
  width: 0px;
  height: 100%;
  background-color: #46052ba7;
  animation-delay: 0.5;
  animation: written_text_box 1s ease;
  animation-delay: 0.5s;
}

.container-content div h1:nth-child(1) span {
  animation-delay: 0.5s;
}

.container-content div h1:nth-child(2) span {
  animation-delay: 1.5s;
}

.container-content div h1:nth-child(3) span {
  animation-delay: 2.5s;
}

@keyframes written_text {
  100% {
    color: white;
  }
}

@keyframes written_text_name {
  100% {
    color: #8d0b57;
  }
}

@keyframes written_text_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

.textoHome > .h1c {
  color: whi;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

/*  container habilidades */
.stacks-content {
  display: flex;
  flex-direction: column;
  padding-left: 25%;
}

.stacks-content h3 {
  color: white;
  font-size: 1.15rem;
  margin-left: 20px;
  padding-bottom: 10px;
}

.stacks {
  display: flex;
  align-items: center;
  flex-direction: row;
  z-index: 1;
}

.stacks ul li {
  display: flex;
  align-items: center;
  margin: 10px;
  right: 20rem;
  list-style: none;
  padding-right: 25px;
}

.stacks img {
  width: 30px;
  height: auto;
  transition: transform 0.3s ease;
}

.stacks ul li img:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.stacks ul li div:hover::after {
  content: attr(data);
  position: absolute;
  top: 50px;
  left: 10px;
  width: 20px;
  height: 20px;
  color: white;
}

/*  */
